name: Deploy Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-deploy"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # THE FIX: Removes 801 commits and disables the slow Jekyll engine
      - name: Cleanup and Optimize
        run: |
          rm -rf .git
          rm -rf node_modules
          touch .nojekyll

      - name: Upload site
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - id: deploy
        name: Deploy
        uses: actions/deploy-pages@v4
        timeout-minutes: 20
